.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;

  .mainTitle {
    font-size: 40px;
    font-weight: 700;
  }

  .sortBox {
    margin-left: 10px;

    .sort {
      cursor: pointer;
      text-decoration: underline;
      font-weight: 500;
      margin-left: 5px;
    }

    .activeSort {
      color: rgb(201, 0, 0);
      cursor: pointer;
      text-decoration: underline;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  .orderBox {
    display: flex;
    min-height: 200px;
    width: 600px;
    box-shadow: 0 0 5px rgb(145, 145, 145);
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;

    .productsBox {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      & > div {
        max-width: 250px;
      }

      img {
        width: 150px;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
      }
      .price {
        font-size: 20px;
        font-weight: 600;
        color: rgb(83, 83, 83);
      }
    }

    .deliveryBox {
      text-align: start;
      .delivery {
        font-size: 20px;
      }
    }
  }

  .noOrders {
    margin-top: 100px;
    font-size: 36px;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .main {
    gap: 20px;

    .mainTitle {
      font-size: 26px;
    }

    .noOrders {
      font-size: 26px;
    }

    .orderBox {
      width: 320px;
      min-height: 200px;
      padding: 20px;
      flex-direction: column;

      .productsBox {
        gap: 30px;
        margin: 0 auto;

        & > div {
          max-width: none;
          margin: 0 auto;
        }

        img {
          width: 150px;
        }

        .title {
          font-size: 20px;
        }
        .price {
          font-size: 20px;
        }
      }

      .delivery {
        font-size: 20px;
      }
    }
  }
}
