.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: justify;
  color: rgb(32, 32, 32);
  margin-top: 30px;

  .price {
    color: rgb(77, 77, 77);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .description {
    color: rgb(70, 70, 70);
    width: 500px;
  }

  .sizesBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;

    .size {
      width: 52px;
      text-align: center;
      box-sizing: border-box;
      padding: 5px;
      border: 2px solid rgb(53, 53, 53);
      background-color: rgb(241, 241, 241);
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(207, 207, 207);
      }
    }

    .activeize {
      background-color: rgb(88, 28, 88);
      border: none;
      color: white;
    }
  }

  .vendor {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
  }

  img {
    display: block;
    width: 500px;
    height: 500px;
  }

  .btnBox {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    img {
      width: 80%;
      height: 80%;
    }
    .description {
      color: rgb(70, 70, 70);
      width: auto;
    }
    .btnBox {
      width: 100%;
      justify-content: center;
    }
  }
}
