.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: justify;
  color: rgb(32, 32, 32);
  margin-top: 30px;

  .price {
    color: rgb(77, 77, 77);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .description {
    color: rgb(70, 70, 70);
    width: 500px;
  }

  .sizesBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;

    .size {
      width: 52px;
      text-align: center;
      box-sizing: border-box;
      padding: 5px;
      border: 2px solid rgb(53, 53, 53);
      background-color: rgb(241, 241, 241);
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(88, 28, 88);
        color: white;
        border: none;
      }
    }

    .activeSize {
      background-color: rgb(88, 28, 88);
      border: none;
      color: white;
    }
  }

  .vendor {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
  }

  .imgBox {
    width: 500px;

    & > img {
      width: 100%;
      display: block;
      height: 500px;
    }

    .miniPhotos {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 5px;
      justify-content: center;

      & > img {
        border: 1px solid gray;
        border-radius: 5px;
        width: 90px;
        height: 90px;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }

  .btnBox {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    .imgBox {
      width: 90%;

      img {
        height: 100%;
      }

      .miniPhotos {
        margin-top: 5px;
        gap: 3px;

        & > img {
          width: 55px;
          height: 55px;
        }
      }
    }

    .description {
      color: rgb(70, 70, 70);
      width: auto;
    }
    .btnBox {
      width: 100%;
      justify-content: center;
    }
  }
}
