.carousel {
  position: relative;
  display: flex;
  width: 100vw;
  margin-bottom: 30px;

  .img {
    width: 0;
    opacity: 0;
    transition: opacity 1s;
    animation: fade 1s;
  }

  .ActiveImg {
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .toogler {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5%;

    .button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgb(233, 233, 233);
      margin: 5px;
      cursor: pointer;
      border: 3px solid rgb(255, 255, 255);
    }

    .activeButton {
      background-color: rgb(184, 30, 30);
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    .toogler {
      .button {
        width: 5px;
        height: 5px;
        border: 2px solid rgb(255, 255, 255);
      }
    }
  }
}
