.dropItem {
  cursor: pointer;
  text-align: start;
  padding: 5px;
  border-radius: 3px;
  width: 93%;
  transition: 0.2s;

  &:hover {
    color: rgb(64, 64, 150);
    background-color: rgb(241, 241, 241);
  }
}

.categoriesSelect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .dropList {
    position: absolute;
    top: 28px;
    left: 0;
    align-items: start;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    z-index: 30;
  }

  .dropArrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(54, 54, 54);
    margin-left: 4px;
    margin-top: 6px;
  }
}

@media (max-width: 925px) {
  .categoriesSelect {
    display: flex;

    .dropList {
      top: 24px;
    }
  }
}
