.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100vw;
  max-width: 100%;
  height: 70px;
  font-size: 26px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);

  .navLinks {
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    z-index: 2;

    div {
      cursor: pointer;
      color: black;
    }
  }

  .profileLinks {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;

    .divider {
      width: 2px;
      height: 30px;
      background-color: rgba(165, 128, 187, 0.3);
    }

    .logout {
      translate: 0 5px;
      margin-left: 5px;
      cursor: pointer;
      z-index: 30;
      margin-right: 10px;
    }

    .cartLink {
      position: relative;
      z-index: 30;
      transform: translateY(4px);

      .cartCounter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: rgb(247, 46, 46);
        color: white;
        font-size: 12px;
        position: absolute;
        top: -3px;
        left: 27px;
      }
    }
  }

  .boxLeft {
    position: absolute;
    left: -20px;
    width: 400px;
    height: 70px;
    overflow: hidden;
  }

  .boxRight {
    position: absolute;
    right: -50px;
    width: 400px;
    height: 70px;
    overflow: hidden;
  }

  .fill {
    position: absolute;
    left: -100px;
    top: -70px;
    width: 300px;
    height: 200px;
    background-color: rgb(88, 28, 88);
    transform: rotate(-30deg);
    z-index: 0;
  }

  .fillRight {
    position: absolute;
    top: -50px;
    width: 300px;
    right: 0;
    height: 200px;
    background-color: rgb(88, 28, 88);
    transform: rotate(-30deg);
    z-index: 0;
  }

  .logo {
    height: 60px;
    z-index: 5;
  }

  .icon {
    width: 35px;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    z-index: 5;

    h4 {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
        sans-serif;
      color: white;
      font-weight: 700;
      margin: 0;
    }

    &:hover {
      color: rgb(214, 214, 214);
    }
  }
}

.mobileLinks {
  display: none;
}

@media (max-width: 980px) {
  .header {
    .navLinks {
      gap: 10px;
      font-size: 16px;
    }
  }
}

@media (max-width: 820px) {
  .header {
    padding: 0 5px;

    .navLinks {
      display: none;
    }

    .profileLinks {
      font-size: 18px;
      gap: 10px;
      margin-right: 10px;
    }

    .boxLeft {
      height: 80px;
      left: -20px;
      width: 150px;
    }

    .boxRight {
      height: 80px;
      right: -30px;
      width: 200px;
    }

    .fill {
      left: 0px;
      top: -30px;
      width: 120px;
      height: 120px;
    }

    .fillRight {
      top: -35px;
      right: -60px;
      width: 220px;
      height: 220px;
    }

    .logo {
      height: 50px;
    }

    h4 {
      display: none;
    }
  }

  .linkBox {
    display: flex;
    justify-content: center;
    background-color: white;

    .mobileLinks {
      display: flex;
      margin: 5px;
      gap: 20px;
      font-size: 16px;
      font-weight: 600;

      div {
        cursor: pointer;
        color: black;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
