.sale {
  width: 100%;
  height: 30px;
  background-color: rgb(41, 41, 41);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  p {
    font-size: 16px;
    margin: 4px;
  }
}

@media (max-width: 768px) {
  .sale {
    p {
      font-size: 14px;
    }
  }
}
