.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  width: 600px;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 10px black;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  color: green;
  font-size: 22px;
  font-weight: 500;
}

.fail {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 170px;
  top: -100px;
  position: fixed;
  color: red;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  transition: 0.3s;
  z-index: 40;
}

.failActive {
  top: 12vh;
}

.preloader {
  display: block;
  width: 100px;
  height: 100px;
}

.fill {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(192, 192, 192);
  background-color: rgb(248, 248, 248);
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px;
      color: rgb(80, 80, 80);
    }
    .inputBox {
      position: relative;

      .input {
        height: 40px;
        width: 250px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px rgb(170, 170, 170) solid;
        background-color: white;
        padding: 0 15px;
        margin-bottom: 30px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
      .inputWrong {
        border: 2px solid red;
      }

      .crossBox {
        display: inline-block;
        cursor: pointer;
        transition: 0.2s;
        opacity: 0.2;

        &:hover {
          opacity: 1;
        }

        span {
          position: absolute;
          display: inline-block;
          width: 25px;
          height: 5px;
          background-color: rgb(196, 196, 196);
          border-radius: 2px;
          translate: 5px -9px;
        }

        .one {
          rotate: 45deg;
        }
        .two {
          rotate: -45deg;
        }
      }
    }

    .button {
      height: 40px;
      width: 150px;
      font-size: 24px;
      font-weight: 700;
      border-radius: 10px;
      border: 1px rgb(170, 170, 170) solid;
      padding: 0 15px;
      text-align: center;
      transition: 0.2s;
      color: rgb(80, 80, 80);
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }
      &:active {
        scale: 0.95;
      }
    }

    .checkBox {
      margin-bottom: 30px;

      .check {
        display: inline-block;
      }

      p {
        display: inline;
      }
    }
  }
  a {
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .success {
    width: 350px;
  }

  .form {
    width: 280px;

    form {
      .inputBox {
        .input {
          width: 240px;
          font-size: 18px;
        }
      }
    }
  }
}
