.app {
  position: relative;
  text-align: center;
  padding-top: 130px;
  min-height: 100vh;
  box-sizing: border-box;

  .header {
    position: fixed;
    top: 0;
    z-index: 30;
  }

  .preloaderBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    box-sizing: border-box;

    .preloader {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      position: fixed;
      top: 200px;
    }
  }
}
